html {
    padding: 0;
	margin: 0;
	font-family: BMWTypeNext,Helvetica Neue,-apple-system,"system-ui",BlinkMacSystemFont,serif;
}

body {
   background-color: black;
}

#nav ul {
    list-style-type: none;
    text-align: center;
}

header img {
    display: block;
    right: 5mm;
    top: 1mm;
    position: absolute;
    width: 2cm;
}

header {
    position: fixed;
	top: 0;
  	left: 0;
  	width: 100%;
	background-color: rgba(255,255,255,0.40);
	height: 2cm;
	backdrop-filter: blur(10px);
    z-index: 1000;
}

#nav ul li a {
    color: rgb(215, 210, 63);
    text-decoration: none;
    display: block;
    float: left;
    text-transform: uppercase;
    padding-right: 1cm;
    padding-top: 3mm;
}

.intro {
    background-image: url("img/hero5.jpg");
    background-size: 100%;
    text-align: center;
    height: 15cm;
    padding: 0.1cm;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 25mm;
	color: #FFFFFF;
}

h4 {
	font-size: 1em;
	font-weight: 200;
	margin-bottom: 10mm;
    margin-top: 40mm;
	color: #FFFFFF;
}

.button {
    border: 0.5mm #FFFFFF solid;
    padding-left: 6mm;
    padding-right: 6mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
	border-radius: 1cm;
	color: #FFFFFF;
	text-decoration: none;
}

.box1 {
	background-image: url("img/hero6.jpg");
	background-size: 120%;
    width: 50%;
	color: #FFFFFF;
	text-align: center;
    height: 13cm;
    float: left;
    margin-right: 1.5mm;
    margin-bottom: 4mm;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 5mm;
    padding-top: 1cm;
}

p {
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 5.5cm;
}

.box2 {
	background-image: url("img/hero1.jpg");
	background-size: 100%;
    width: 49%;
	color: #FFFFFF;
	text-align: center;
    height: 13cm;
    float: left;
    margin-left: 0.5mm;
    margin-bottom: 4mm;
}

.seasons img {
    width: 24.3%;
    float: left;
    padding: 1mm;
}

#special {
    padding-right: 0;
}

#special2 {
    padding-left: 2.4mm;
}

#footer {
    background-color: #dbecf1;
    height: 3cm;
    margin-top: 3cm;
    position:absolute;
    width: 100%;
}

#footer1 {
    margin-top: 28cm;
    background-color: #dbecf1;
    height: 3cm;
    width: 100%;
    position:absolute;
}


#footer1 p {
    width: 50%;
    float: left;
}

#footer2 {
    margin-top: 10cm;
    background-color: #dbecf1;
    height: 3cm;
    width: 100%;
    position:absolute;
}


#footer2 p {
    width: 50%;
    float: left;
}

#footer p {
    width: 50%;
    float: left;
}

#footer4 {
    margin-top: 49cm;
    background-color: #dbecf1;
    height: 3cm;
    width: 100%;
    position:absolute;
}


#footer4 p {
    width: 50%;
    float: left;
}

#top {
    margin-top: 2cm;
}

#card {
    border: 0.5mm #FFFFFF solid;    
    width: 32.5%;
    height: 12cm;
    float: left;
    margin: 0.5mm;
    background-color: #222222;
    text-align: center;
    position: relative;
}

#card img {
    width: 100%;
    height: auto;
}

#card h2 {
    padding: 15px;
    text-align: center;
    color: white;
}

#about {
    margin-top: 2cm;
}

#banner {
    width: 100%;
}

#about h2 {
    padding: 15px;
    text-align: center;
    color: white;
}

#about p {
    color: white;
    width: 60%;
    font-family: Lucida Handwriting;
    float: left;
    margin-top: 2cm;
}

#about video {
    width: 10cm;
    height: 10cm;
    float: right;
}

#staff h2 {
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 11cm;
}

#staff ul li {
    color: white;
}

form {
    color: rgb(230, 204, 73);
    float: left;
    margin-left: 3cm;
    width: 45%;
}

form img {
    margin-top: 1cm;
}

#contact{
    margin-top: 2cm;
    width: 50%;
}

#contact h2 {
    padding: 15px;
    text-align: center;
    color: white;
}

#contact p {
    color: white;
    float: left;
    margin-top: 5mm;
    width: 75%;
    margin-left: 2cm;
}

#contact img {
    width: 3cm;
    margin-top: 0.5mm;
}

footer {
    color: white;
}

button {
    display:block;
    float: right;
    margin-right:14cm;
    margin-left: 10cm;
}